@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

a {
  color: seashell;
  text-decoration: none;
}
h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.nav-container {
  margin: auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Header Section */

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: black;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 8px;
}

nav span a {
  padding: 4px 8px;
  border-radius: 8px;
  transition: ease-in 0.3s all;
}
nav span a:hover {
  color: white;
  background-color: #222;
}
/*  Main Section */
main {
  padding-top: 69px;
  max-width: 1200px;
  margin: auto;
  opacity: 0.9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* Mission Section */
#mission {
  background-image: url(./img/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  padding-top: 69px;
}

#mission section {
  width: 100%;
  background-color: black;
  margin: auto;
}

/* Store Section */
#store {
  min-height: 700px;
  width: 80%;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.item img {
  width: 300px;
  height: 200px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: 400;
  text-align: center;
}

/* Location Section */
#locations {
  height: 500px;
  background-image: url(./img/img-locations-background.jpg);
  padding-top: 70px;
}

#locations .container {
  margin: auto;
  max-width: 1100px;
}

.address {
  opacity: 1;
  padding: 20px 10px 30px;
  width: 300px;
  background-color: black;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.address h3 {
  padding-bottom: 22px;
}

.address p {
  margin: 12px 0;
  font-weight: 300;
}

/* Contact Section */
#contact {
  height: 200px;
  margin-top: 10px;
}

/* Footer Section */
footer {
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 1100px) {
  .nav-container {
    max-width: 900px;
  }
}

@media screen and (max-width: 786px) {
  .nav-list {
    display: none;
  }
  .logo {
    padding-top: 10px;
  }
  #mission {
    background-image: url(./img/tea-long.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
  }
  .container {
    flex-direction: column;
  }
  /* Store Section */
  #store {
    min-height: 100vh;
    background: #000;
  }

  .item {
    padding: 10px 5px;
  }

  #locations {
    background-image: url(./img/tea-long2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
    width: 100vw;
    display: block;
  }
  #locations .container {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #locations .address {
    padding: 15px 5px;
  }
  .address h3 {
    font-size: 22px;
    padding-bottom: 16px;
  }

  .address p {
    font-size: 16px;
    margin: 8px 0;
    font-weight: 300;
  }
}
